<h2 data-component='base/h2' class='contenteditable'>社員登録画面</h2>
<%= form_for(@employee, url: employees_path, method: "post", html: { class: "form form-horizontal x-content", data: {component: "form/horizontal", method: "post", model: "@employee" }} ) do |f| %>
  <div class='form-group' data-component='form_element/text_field'>
    <label class='col-sm-3 control-label contenteditable'>社員ID</label>
    <div class='col-sm-5 x-content'>
      <%= f.text_field(:emp_id, class: "form-control", data: { name: "@employee.emp_id" }) %></div>
  </div>
  <div class='form-group' data-component='form_element/text_field'>
    <label class='col-sm-3 control-label contenteditable'>氏名</label>
    <div class='col-sm-5 x-content'>
      <%= f.text_field(:name, class: "form-control", data: { name: "@employee.name" }) %></div>
  </div>
  <div class='form-group' data-component='form_element/number_field'>
    <label class='col-sm-3 control-label contenteditable'>年齢</label>
    <div class='col-sm-5 x-content'>
      <%= f.number_field(:age, class: "form-control", data: { name: "@employee.age" }) %></div>
  </div>
  <div class='form-group' data-component='form_element/text_field'>
    <label class='col-sm-3 control-label contenteditable'>住所</label>
    <div class='col-sm-5 x-content'>
      <%= f.text_field(:address, class: "form-control", data: { name: "@employee.address" }) %></div>
  </div>
  <div class='form-group' data-component='form_element/text_field'>
    <label class='col-sm-3 control-label contenteditable'>部署</label>
    <div class='col-sm-5 x-content'>
      <%= f.text_field(:busho, class: "form-control", data: { name: "@employee.busho" }) %></div>
  </div>
  <div class='form-group'>
    <div class='col-sm-offset-3 col-sm-5 x-content'>
      <%= f.submit("保存", class: "btn btn-default contenteditable", data: { component: "form_element/submit"} ) %>
    </div>
  </div>
<% end -%>
